src/main/java/proxy/compte.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.hd.saifdine.ma/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.hd.saifdine.ma/" name="WebServiceSoapImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.hd.saifdine.ma/" schemaLocation="http://localhost:8080/ws/compte?xsd=1"/>
</xsd:schema>
</types>
<message name="getComptes">
<part name="parameters" element="tns:getComptes"/>
</message>
<message name="getComptesResponse">
<part name="parameters" element="tns:getComptesResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<message name="conversion">
<part name="parameters" element="tns:conversion"/>
</message>
<message name="conversionResponse">
<part name="parameters" element="tns:conversionResponse"/>
</message>
<portType name="WebServiceSoapImpl">
<operation name="getComptes">
<input wsam:Action="http://ws.hd.saifdine.ma/WebServiceSoapImpl/getComptesRequest" message="tns:getComptes"/>
<output wsam:Action="http://ws.hd.saifdine.ma/WebServiceSoapImpl/getComptesResponse" message="tns:getComptesResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://ws.hd.saifdine.ma/WebServiceSoapImpl/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://ws.hd.saifdine.ma/WebServiceSoapImpl/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
<operation name="conversion">
<input wsam:Action="http://ws.hd.saifdine.ma/WebServiceSoapImpl/conversionRequest" message="tns:conversion"/>
<output wsam:Action="http://ws.hd.saifdine.ma/WebServiceSoapImpl/conversionResponse" message="tns:conversionResponse"/>
</operation>
</portType>
<binding name="WebServiceSoapImplPortBinding" type="tns:WebServiceSoapImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="conversion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceSoapImplService">
<port name="WebServiceSoapImplPort" binding="tns:WebServiceSoapImplPortBinding">
<soap:address location="http://localhost:8080/ws/compte"/>
</port>
</service>
</definitions>